<div class="sidebar">
    <ul>
      <li>
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
      </li>
      <li>
        <a class="fa-solid fa-house fa-xl"></a>
      </li>
      <li>
        <a class="fa-regular fa-comment fa-xl"></a>
      </li>
      <li>
        <a class="fa-solid fa-folder-open fa-xl"></a>
      </li>
      <li>
        <a class="fa-solid fa-users fa-xl"></a>
      </li>
      <li>
        <a class="fa-solid fa-stairs fa-xl"></a>
      </li>
      <li>
        <a class="fa-solid fa-magnifying-glass fa-xl"></a>
      </li>
    </ul>
  </div>
