
<div class="container-desk">
  <div class="reservation">

  </div>

  <div class="reservation-a-venir">

  </div>

  <div class="reservations-passees">

  </div>









</div>


<h2 class="blue-title"><%= @desk.name %></h2>
<p><%= @desk.description %></p>
