<div id="wagon" data-controller="wagon">
  <svg width="391.73218994140626px" height="121.89877929687499px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391.73218994140626 121.89877929687499"  preserveAspectRatio="xMidYMid">
    <defs><linearGradient id="editing-shadow-gradient1" x1="0" x2="0" y1="0" y2="1"><stop offset="0" stop-color="#dce4eb" stop-opacity="0"></stop>
        <stop offset="0.2" stop-color="#dce4eb" stop-opacity="0"></stop><stop offset="1" stop-color="#dce4eb" stop-opacity="1"></stop>
      </linearGradient><linearGradient id="editing-shadow-gradient2" x1="-0.2547095802227721" x2="1.2547095802227721" y1="-0.15605902899050716" y2="1.1560590289905073"><stop offset="0" stop-color="#a00d1e">
        </stop><stop offset="1" stop-color="#a00d1e"></stop></linearGradient>
    </defs>
    <g transform="translate(100,75)">
      <path class="merci"d="M6.53 0L-0.83 0L10.75-42.24L24.13-42.24L27.07-18.11L38.98-42.24L50.18-42.24L51.33-10.62L51.33-10.62Q51.58-4.35 54.66-2.43L54.66-2.43L54.66-2.43Q53.95-1.15 51.90 0.06L51.90 0.06L51.90 0.06Q49.86 1.28 47.14 1.28L47.14 1.28L47.14 1.28Q44.42 1.28 42.82 0.51L42.82 0.51L42.82 0.51Q41.22-0.26 40.32-1.54L40.32-1.54L40.32-1.54Q38.72-3.84 38.72-8.26L38.72-8.26L38.72-28.03L26.11 0L18.18 0L13.70-28.74L6.53 0ZM83.33-10.82L83.33-10.82L83.33-10.82Q84.93-9.73 84.93-7.33L84.93-7.33L84.93-7.33Q84.93-4.93 83.71-3.39L83.71-3.39L83.71-3.39Q82.50-1.86 80.51-0.83L80.51-0.83L80.51-0.83Q76.42 1.28 72 1.28L72 1.28L72 1.28Q67.58 1.28 64.99 0.32L64.99 0.32L64.99 0.32Q62.40-0.64 60.67-2.43L60.67-2.43L60.67-2.43Q57.28-5.82 57.28-12.03L57.28-12.03L57.28-12.03Q57.28-21.70 62.53-27.58L62.53-27.58L62.53-27.58Q68.16-33.92 77.95-33.92L77.95-33.92L77.95-33.92Q84.03-33.92 87.04-31.36L87.04-31.36L87.04-31.36Q89.28-29.44 89.28-26.30L89.28-26.30L89.28-26.30Q89.28-15.04 69.82-15.04L69.82-15.04L69.82-15.04Q69.57-13.38 69.57-11.97L69.57-11.97L69.57-11.97Q69.57-9.02 70.88-7.90L70.88-7.90L70.88-7.90Q72.19-6.78 74.62-6.78L74.62-6.78L74.62-6.78Q77.06-6.78 79.65-7.90L79.65-7.90L79.65-7.90Q82.24-9.02 83.33-10.82ZM70.27-17.79L70.27-17.79L70.27-17.79Q74.82-17.79 77.44-20.61L77.44-20.61L77.44-20.61Q80.06-23.30 80.06-27.58L80.06-27.58L80.06-27.58Q80.06-29.06 79.52-29.86L79.52-29.86L79.52-29.86Q78.98-30.66 77.89-30.66L77.89-30.66L77.89-30.66Q76.80-30.66 75.87-30.24L75.87-30.24L75.87-30.24Q74.94-29.82 73.98-28.42L73.98-28.42L73.98-28.42Q71.62-25.22 70.27-17.79ZM111.49-17.98L111.49-17.98L111.49-17.98Q113.79-22.08 113.79-26.24L113.79-26.24L113.79-26.24Q113.79-28.99 111.81-28.99L111.81-28.99L111.81-28.99Q110.27-28.99 108.67-26.37L108.67-26.37L108.67-26.37Q107.01-23.74 106.50-20.35L106.50-20.35L103.17 0L89.92 1.28L96.45-32.64L107.01-33.92L105.86-27.46L105.86-27.46Q108.99-33.92 116.03-33.92L116.03-33.92L116.03-33.92Q119.74-33.92 121.76-32L121.76-32L121.76-32Q123.78-30.08 123.78-26.14L123.78-26.14L123.78-26.14Q123.78-22.21 121.18-19.71L121.18-19.71L121.18-19.71Q118.59-17.22 114.18-17.22L114.18-17.22L114.18-17.22Q112.26-17.22 111.49-17.98ZM156.22-26.62L156.22-26.62L156.22-26.62Q156.22-23.94 153.98-22.27L153.98-22.27L153.98-22.27Q151.74-20.61 148.10-20.61L148.10-20.61L148.10-20.61Q146.56-20.61 145.66-21.06L145.66-21.06L145.66-21.06Q146.37-22.72 146.59-24.80L146.59-24.80L146.59-24.80Q146.82-26.88 146.82-27.46L146.82-27.46L146.82-27.46Q146.82-30.14 144.96-30.14L144.96-30.14L144.96-30.14Q143.68-30.14 142.24-28.54L142.24-28.54L142.24-28.54Q140.80-26.94 139.58-24.45L139.58-24.45L139.58-24.45Q136.90-18.69 136.90-12.86L136.90-12.86L136.90-12.86Q136.90-9.66 138.11-8.22L138.11-8.22L138.11-8.22Q139.33-6.78 142.02-6.78L142.02-6.78L142.02-6.78Q145.73-6.78 148.67-9.86L148.67-9.86L148.67-9.86Q149.50-10.82 149.95-11.90L149.95-11.90L149.95-11.90Q152.38-10.62 152.38-7.10L152.38-7.10L152.38-7.10Q152.38-3.52 148.42-1.15L148.42-1.15L148.42-1.15Q144.32 1.28 137.79 1.28L137.79 1.28L137.79 1.28Q124.80 1.28 124.80-12.48L124.80-12.48L124.80-12.48Q124.80-22.53 130.50-28.29L130.50-28.29L130.50-28.29Q136-33.92 146.11-33.92L146.11-33.92L146.11-33.92Q156.22-33.92 156.22-26.62ZM173.31-3.52L173.31-3.52L173.31-3.52Q171.33 1.28 164.99 1.28L164.99 1.28L164.99 1.28Q161.73 1.28 159.68-0.96L159.68-0.96L159.68-0.96Q157.95-2.94 157.95-4.93L157.95-4.93L157.95-4.93Q157.95-10.11 160.32-20.22L160.32-20.22L162.69-32.64L175.68-33.92L171.78-13.70L171.78-13.70Q170.69-8.96 170.69-7.30L170.69-7.30L170.69-7.30Q170.69-3.65 173.31-3.52ZM163.84-41.54L163.84-41.54L163.84-41.54Q163.84-44.03 165.92-45.38L165.92-45.38L165.92-45.38Q168.00-46.72 171.01-46.72L171.01-46.72L171.01-46.72Q174.02-46.72 175.84-45.38L175.84-45.38L175.84-45.38Q177.66-44.03 177.66-41.54L177.66-41.54L177.66-41.54Q177.66-39.04 175.65-37.76L175.65-37.76L175.65-37.76Q173.63-36.48 170.62-36.48L170.62-36.48L170.62-36.48Q167.62-36.48 165.73-37.76L165.73-37.76L165.73-37.76Q163.84-39.04 163.84-41.54ZM177.02-3.78L177.02-3.78L177.02-3.78Q177.02-6.21 178.85-7.52L178.85-7.52L178.85-7.52Q180.67-8.83 183.36-8.83L183.36-8.83L183.36-8.83Q186.05-8.83 187.74-7.52L187.74-7.52L187.74-7.52Q189.44-6.21 189.44-3.78L189.44-3.78L189.44-3.78Q189.44-1.34 187.55 0L187.55 0L187.55 0Q185.66 1.34 182.98 1.34L182.98 1.34L182.98 1.34Q180.29 1.34 178.66 0L178.66 0L178.66 0Q177.02-1.34 177.02-3.78ZM180.48-15.81L180.48-15.81L180.48-15.81Q180.48-16.26 180.61-16.90L180.61-16.90L185.60-42.62L185.60-42.62Q187.97-43.52 190.78-43.52L190.78-43.52L190.78-43.52Q193.60-43.52 195.07-41.73L195.07-41.73L195.07-41.73Q196.54-39.94 196.54-37.28L196.54-37.28L196.54-37.28Q196.54-34.62 195.52-31.65L195.52-31.65L195.52-31.65Q194.50-28.67 193.25-25.66L193.25-25.66L193.25-25.66Q192-22.66 190.94-19.55L190.94-19.55L190.94-19.55Q189.89-16.45 189.82-13.18L189.82-13.18L189.82-13.18Q188.35-11.52 185.79-11.52L185.79-11.52L185.79-11.52Q183.23-11.52 181.86-12.70L181.86-12.70L181.86-12.70Q180.48-13.89 180.48-15.81Z" fill="url(#editing-shadow-gradient1)" pathLength="1">
      </path></g><g></g><style>
      text {
        font-size: 64px;
        font-family: Arial Black;
        dominant-baseline: central;
        text-anchor: middle;
      }
    </style></svg>
  <div class="wagon-logo">
    <svg version="1.1" id="Layer_1" xmlns:x="ns_extend;" xmlns:i="ns_ai;" xmlns:graph="ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 509.7 130.5"  xml:space="preserve">
      <style type="text/css">
        .st0{fill:#E60F05;}
        	.st1{fill:#FFFFFF;}
        	.st2{fill:#FFFFFF;}
      </style>
      <metadata>
        <sfw xmlns="ns_sfw;">
          <slices>
          </slices>
          <sliceSourceBounds bottomLeftOrigin="true" height="130.5" width="509.7" x="1.5" y="2.1">
          </sliceSourceBounds>
        </sfw>
      </metadata>
      <g>
        <path class="st0" data-wagon-target="st01"d="M8.4,0h113.7c4.6,0,8.4,4.1,8.4,9.1v112.3c0,5-3.7,9.1-8.4,9.1H8.4c-4.6,0-8.4-4.1-8.4-9.1V9.1
		C0,4.1,3.8,0,8.4,0z" pathLength="1"
>
        </path>
        <g>
          <path class="st1" data-wagon-target="st11" d="M92.1,83.4c-1.1-1.1-2.4-1.8-3.9-2.1s-3-0.1-4.4,0.4c-1.4,0.6-2.6,1.5-3.4,2.8c-0.8,1.2-1.3,2.7-1.3,4.2
			c0,1,0.2,2,0.6,2.9s0.9,1.8,1.6,2.5s1.5,1.3,2.5,1.6c0.9,0.4,1.9,0.6,2.9,0.6c1.5,0,3-0.4,4.2-1.3c1.2-0.8,2.2-2,2.8-3.4
			s0.7-2.9,0.4-4.4C93.9,85.8,93.2,84.5,92.1,83.4z M86.8,92.5c-2,0-3.7-1.7-3.7-3.7s1.7-3.7,3.7-3.7s3.8,1.7,3.8,3.7
			S88.8,92.5,86.8,92.5z" pathLength="1"
>
          </path>
          <path class="st1" data-wagon-target="st12" d="M105.5,79h-2.2c-2,0-3-0.9-3.9-1.9c-1.6-1.8-3.5-3.2-5.7-4.2s-4.5-1.4-6.9-1.4H25.6c-0.2,0-0.4,0.1-0.6,0.2
			s-0.3,0.2-0.5,0.3c-0.1,0.1-0.2,0.3-0.3,0.5S24,72.9,24,73.1v2.8v7.3c0,1.1-0.9,0.7-0.9,2.5v1c0,1.2,0.7,1.9,1.8,1.9h2
			c0.3,0,1-0.2,1-1c0-6.2,5.1-11.3,11.1-11.3s11.3,4.8,11.3,11.3c0,0.6,0.4,0.9,0.9,0.9h23.3c0.6,0,1-0.4,1-1
			c0-5.9,4.7-11.3,11.3-11.3C93,76.2,98,81.3,98,87.5c0,0.4,0.2,1,1,1h6.6c1,0,1.9-1,1.9-1.9V81C107.3,79.7,106.7,79,105.5,79z" pathLength="1"
>
          </path>
          <path class="st1" data-wagon-target="st13" d="M44.4,83.4c-1.1-1.1-2.4-1.8-3.9-2.1s-3-0.1-4.4,0.4c-1.4,0.6-2.6,1.5-3.4,2.8c-0.8,1.2-1.3,2.7-1.3,4.2
			c0,1,0.2,2,0.6,2.9c0.4,0.9,0.9,1.8,1.6,2.5s1.5,1.3,2.5,1.6c0.9,0.4,1.9,0.6,2.9,0.6c1.5,0,3-0.4,4.2-1.3c1.2-0.8,2.2-2,2.8-3.4
			s0.7-2.9,0.4-4.4C46.2,85.8,45.5,84.5,44.4,83.4z M39.1,92.5c-2,0-3.7-1.7-3.7-3.7s1.7-3.7,3.7-3.7s3.8,1.7,3.8,3.7
			S41.1,92.5,39.1,92.5z" pathLength="1"
>
          </path>
          <path class="st1" data-wagon-target="st14" d="M24.4,65.8c0.1,0.2,0.3,0.3,0.5,0.4s0.4,0.1,0.6,0.1h61.2c5.3-0.1,10.5,2,14.3,5.6c0.6,0.6,1.4,1.9,2.6,1.9
			h1.2c0.6,0,0.8-0.3,0.8-1v-8.7c0-12.2-7.4-22-20-26.8c-13.1-5.2-44.3-3.2-56.9,0.1c-2,0.5-4.7,1.5-4.7,5.3v20l0.1,1.9
			C24,65.1,24.2,65.5,24.4,65.8z M75.2,44.8c0-0.6,0.2-1,1-1h3.9c9.4,0,15.8,6.4,19.3,15.9c0.2,0.5,0.1,1.3-0.9,1.3H76.2
			c-0.6,0-1-0.6-1-1V44.8z M52.4,44.8c0-0.1,0-0.3,0.1-0.4c0-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.2,0.3-0.2s0.2-0.1,0.4-0.1h16.5
			c0.6,0,1,0.4,1,1v15.1c0,0.5-0.4,1-1,1H53.3c-0.5,0-1-0.2-1-1L52.4,44.8L52.4,44.8z M29.3,44.8c0-0.2,0-1,0.9-1h16.9
			c0.6,0,1,0.4,1,0.9V60c0,0.3-0.2,0.9-1,0.9H30.2c-0.7,0-0.9-0.6-0.9-1L29.3,44.8z" pathLength="1"
>
          </path>
        </g>
        <path class="st2" class="st1" data-wagon-target="st21" d="M164.7,35.4c-0.1,0-0.2,0-0.3,0.1c-0.1,0-0.2,0.1-0.2,0.2c-0.1,0.1-0.1,0.2-0.2,0.2c0,0.1-0.1,0.2-0.1,0.3
		v44.6c0,5.4,1.5,9.3,4.6,11.7c3.3,2.7,8.6,3.3,14.7,1.9c0.2,0,0.3-0.1,0.4-0.3c0.1-0.1,0.2-0.3,0.2-0.5l-0.1-7.6
		c0-0.1,0-0.2-0.1-0.3c0-0.1-0.1-0.2-0.2-0.3s-0.2-0.1-0.3-0.1s-0.2,0-0.3,0c-2.4,0.5-4.2,0.2-5.5-0.8c-1.4-1.1-2-3.1-2-6V36.2
		c0-0.2-0.1-0.4-0.2-0.5s-0.3-0.2-0.5-0.2L164.7,35.4L164.7,35.4z" pathLength="1"
>
        </path>
        <path class="st2"  data-wagon-target="st22" d="M207.8,48.2c-6.6,0-12,2.3-16.1,6.8s-6.2,10.1-6.2,16.7c0,6.8,2.1,12.4,6.2,16.9c4.1,4.4,9.6,6.7,16.3,6.7
		c5.1,0,9.6-1.4,13.4-4.2c3.7-2.7,6.5-6.6,7.8-11.1c0-0.1,0-0.2,0-0.3s-0.1-0.2-0.1-0.3c-0.1-0.1-0.1-0.2-0.2-0.2s-0.2-0.1-0.3-0.1
		h-10.1c-0.1,0-0.3,0-0.4,0.1s-0.2,0.2-0.2,0.3c-0.7,1.8-2,3.3-3.7,4.2c-1.8,1.1-3.8,1.6-5.9,1.6c-3.3,0-5.9-0.9-7.9-2.9
		c-1.9-1.9-3.1-4.3-3.4-6.9v-0.2h32.5c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5l0.1-3.1c0-6.6-2.1-12.2-6.1-16.6
		C219.7,50.4,214.4,48.2,207.8,48.2L207.8,48.2z M218.5,66.5h-21.6l0.1-0.2c0.5-2.3,1.7-4.4,3.5-6c2-1.8,4.4-2.6,7.4-2.6
		s5.5,0.9,7.4,2.6c1.7,1.6,2.9,3.7,3.3,6L218.5,66.5z" pathLength="1"
>
        </path>
        <path class="st2" data-wagon-target="st23" d="M441.2,84.3c-6.9,0-12.4-5.6-12.4-12.4s5.6-12.4,12.4-12.4s12.4,5.6,12.4,12.4S448,84.3,441.2,84.3z
		 M441.2,48.5c-9.5,0-17.8,5.6-21.6,14.4c-1.8,4.2-2.2,8.9-1.3,13.5c0.9,4.5,3.1,8.6,6.4,11.9s7.4,5.4,11.9,6.4
		c4.5,0.9,9.2,0.4,13.5-1.3c4.3-1.8,7.9-4.8,10.5-8.6c2.5-3.9,3.9-8.3,3.9-12.9C464.4,59.1,454.3,48.5,441.2,48.5z M505.1,53.4
		c-2.9-3.3-7.1-4.9-12.4-4.9c-3.3,0-6.3,0.7-8.7,2c-1.3,0.8-2.5,1.8-3.6,2.9l-0.3,0.3v-3.6c0-0.1-0.1-0.3-0.2-0.4s-0.3-0.2-0.5-0.2
		h-9.2c-0.1,0-0.3,0.1-0.4,0.2s-0.2,0.3-0.2,0.4v43.3c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.2,0.2,0.2c0.1,0.1,0.3,0.2,0.4,0.2h10
		c0.1,0,0.4-0.1,0.4-0.2c0.2-0.1,0.2-0.3,0.2-0.5V68.3c0-3,0.9-5.6,2.5-7.3c1.7-1.8,4-2.7,7-2.7c2.7,0,4.7,0.8,6,2.4
		c1.3,1.6,2,3.9,2,6.8v25.9c0,0.2,0,0.4,0.1,0.5c0.2,0.1,0.4,0.2,0.6,0.2h9.8c0.2,0,0.4-0.1,0.5-0.2l0.2-0.2c0-0.1,0.1-0.2,0.1-0.3
		V66.2C509.5,60.9,508,56.6,505.1,53.4z M401.9,71c0,7.1-4.6,12.4-11.4,12.4c-6.6,0-11.4-5.1-11.4-12.4c0-6.9,4.1-12.4,11.4-12.4
		C397.5,58.7,401.9,63.9,401.9,71z M412,49.5h-9.2c-0.1,0-0.2,0-0.3,0.1c-0.1,0-0.2,0.1-0.2,0.2c-0.1,0.1-0.2,0.3-0.2,0.4v4.1
		l-0.3-0.3c-3.1-3.6-7.6-5.4-13.4-5.4c-12.6,0-20.6,9.8-20.6,22.5c0,6.3,1.9,11.7,5.6,15.9c3.7,4.3,8.8,6.5,15,6.5
		c5.4,0,9.7-1.7,12.7-5l0.3-0.4v4.7c0,5.9-4.8,10.5-10.3,10.5c-5.6,0-8.3-3.3-9.6-5.7c-0.3-0.5-0.4-0.6-0.7-0.5
		c-1,0.5-8.6,4.5-9,4.7c-0.2,0.1-0.2,0.4-0.1,0.6c3.1,6.9,10,11.3,19.5,11.3c11.9,0,21.5-8.4,21.5-22.3V50.1c0-0.1,0-0.3-0.2-0.4
		S412.2,49.5,412,49.5L412,49.5z M351.7,71.8c0,7.6-4.2,13.2-11.5,13.2s-11.5-5.9-11.5-13.2c0-7.1,4.1-13.1,11.5-13.1
		C347.3,58.7,351.7,64,351.7,71.8z M361.9,49.6h-9.2c-0.1,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.1,0.3-0.1,0.4v4.1l-0.4-0.3
		c-3-3.6-7.6-5.4-13.6-5.4c-12.9,0-20.5,10-20.5,23.2s7.6,23.3,20.5,23.3c5.9,0,10.6-1.8,13.6-5.4l0.4-0.4v4.1
		c0,0.2,0.1,0.3,0.1,0.5c0.2,0.1,0.4,0.2,0.5,0.2h9.2c0.2,0,0.4-0.1,0.4-0.2c0.2-0.1,0.2-0.3,0.2-0.5V50.2c0-0.1,0-0.3-0.2-0.4
		C362.2,49.8,362.1,49.6,361.9,49.6z M318,50.1c0-0.1-0.1-0.1-0.1-0.3c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1-0.1-0.2-0.1-0.3-0.1h-10.1
		c-0.1,0-0.2,0-0.3,0.1c-0.2,0.1-0.2,0.2-0.3,0.4l-8.9,28.5l-9-28.4c-0.1-0.2-0.1-0.3-0.3-0.4c-0.1,0-0.2-0.1-0.4-0.1h-9.5
		c-0.2,0-0.3,0.1-0.4,0.1c-0.1,0.1-0.2,0.2-0.2,0.4l-9.3,28.8L259.5,50c0-0.2-0.1-0.3-0.2-0.4c-0.1,0-0.3-0.1-0.4-0.1h-10.3
		c-0.1,0-0.2,0-0.4,0.1c-0.1,0-0.1,0.1-0.1,0.2c-0.1,0.1-0.1,0.2-0.1,0.3v0.4l15.1,43.2c0,0.1,0.1,0.2,0.2,0.3
		c0.2,0.1,0.3,0.1,0.4,0.1h9.2h0.2c0.1,0,0.1-0.1,0.2-0.1s0.1-0.1,0.1-0.1s0.1-0.1,0.1-0.2l9.4-28.2l9.3,28.1c0,0.1,0.1,0.3,0.2,0.4
		c0.1,0,0.3,0.1,0.4,0.1h9.3c0.2,0,0.4-0.1,0.4-0.1c0.1-0.1,0.2-0.2,0.3-0.4L318,50.5L318,50.1z" pathLength="1"
>
        </path >
      </g>
    </svg>
  </div>
</div>
