
.booking{
  display: flex;
  margin-bottom: 75px;
  margin-top: 64px;
  justify-content: space-between;
}

.booking-title{
    h2{
      color: white
    }
}

.booking-svg{
  width:300px;

}

.booking-container-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;

  background-color: $sky;
  padding:16px 8px;
    h2{
      color: white;
      font-size: bolder;
    }
}

.booking-form{
  display: flex;
  gap: 16px;

  .appointment_desk_id input[type=submit]{
    background-color: red!important;
  }
}

.appointment_start_at{
  margin: 0!important;
  padding: 0!important
}

.appointment_end_at{
  margin: 0!important;
  padding: 0!important
}



.booking-list-container{
  position: relative;
  padding: 24px;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  border: 1px solid white;
  margin-bottom: 75px;
}

.booking-list-border{
  padding: 16px;
  border: 1px solid white;
}

.first-row-booking-list{
  display: grid;
  grid-template-columns: 1fr 2fr ;
  column-gap: 16px;

  span{
    background-color: white;
    color: black;
    font-weight: bolder;
    padding-left: 8px;
    padding-right: 32px;
  }

}


.row-booking-list{
  display: grid;
  grid-template-columns: 1fr 2fr ;
  column-gap: 16px;

  p{
    color: white;
    font-weight: bolder;
    padding-left: 8px;
    padding-right: 32px;
  }

}
