.btn-sky{
  display: block;
  background-color: $sky;
  color:white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  margin:0;
  border-radius: 16px;
}

.btn-light-sky{
  display: block;
  background-color: $sky;
  color:white;
  font-weight: bold;
  padding: 8px 8px;
  border: none;
  margin:0;
}


.btn-white{
  display: block;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  margin:0;
}
