.cards-home{
  position: relative;
  display: flex;
  justify-content:space-between;
  column-gap: 32px;
  z-index: 2;
}

.card-home{
  position: relative;
  width:330px;
  box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.1);
   z-index: 2;
   overflow: hidden;
   border-radius: 4px;

}

.fusee{
    position: absolute;
    top:0px;
    right:50%;
    transform: translateX(50%);
    z-index: 2;
    width:300px;
    height: auto;
  }

  .one-astronaute{
    position: absolute;
    top:20px;
    right:50%;
    transform: translateX(50%);

    z-index: 2;
    width:150px;
    height: auto;
  }

  .team-astronaute{
    position: absolute;
    top:10px;
    left:60px;
    z-index: 2;
    width:200px;
    height: auto;
  }


.card-home-image{
  background-color: $bg-main;
  width:100%;
  height:200px;
  position: relative;
  overflow: hidden;

    &::before{
    content: "";
    position: absolute;
    width:120%;
    height: 120%;
    background: asset-url('bluehalo.png');
    background-size: cover;
  }


}

.card-home-content{
  background-color: white;
  padding:16px ;
  height: 100%;

  h3{
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: bold;
  }
  p{
    font-size: 18px;
    font-weight: 400;
  }

}

.cards-appointments{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.card-appointments{
  border-radius: 4px;
  background-color: white;
  text-align: center;
  padding: 20px;
  border: 1px solid $sky;
}

.card-past-appointments{
  border-radius: 4px;
  background-color: white;
  opacity: 0.6;
  text-align: center;
  padding: 16px;
  border: 1px solid $sky;
}

.card-desks{
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  border-radius: 4px;
}

.card-desk{
  border-radius: 4px;
  background-color: rgba(255,255,255,1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  // border: 1px solid $sky;
  margin-bottom: 0px;
}

.card-booking-date{
  text-align: center;
  padding: 16px;
  // border: 1px solid $sky;
  margin-bottom: 0px;
  color: white;
}

.card-weekday{
  border-radius: 16px;
  background-color: white;
  text-align: center;
  justify-content: center;
  padding: 4px;
  margin-bottom: 0px;
}

.card-weekday-purple{
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  padding: 6px;
  margin-bottom: 0px;
  background-color: rgb(178, 67, 187);
  color: white;
}

.card-search{
  border-radius: 16px;
  background-color: white;
  text-align: center;
  justify-content: center;
  // margin: 6px;
}

.card-team-title{
  border-radius: 16px;
  background-color: white;
  text-align: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 0px;
}

.card-users-title{
  border-radius: 16px;
  background-color: white;
  text-align: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 0px;
}
