.chatroom {
  margin-top: 90px;
  background-color: rgba(255,255,255,0.3)!important;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    padding-top: 70px;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .btn-purple {
    --bs-btn-bg: rgb(168, 16, 161);
    --bs-btn-border-color: rgb(168, 16, 161);
    color: white;
  }
}


.display-message{
  //background-color: white;
  color:black;
  border-radius: 8px;
}
