#index-content{
  position: relative;
  padding-top: 50px;

  &::before{
    position: absolute;
    content: "";
    width: 800px;
    height:800px;

    background: asset-url('bluehalo.png');
    background-size: contain;
    background-position: center;
    top:50px;
    right:0px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.search{
  width:60%;
  background-color: white;
  border: 2px solid $sky;
  padding: 8px 16px;
  margin-bottom: 64px;

  form{
    display: flex;
    height:40px;
    column-gap: 16px;
  }
}

.bureau{
  position: relative;
}

.bureau-modal{
  display: none;
  position: absolute;
  width:100%;
  height:100%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba($color: #000000, $alpha: 0.7);
  justify-content: center;
  align-items: center;
  border: 1px solid $sky;
  z-index: 10;
}

.bureau-modal-container{
  background-color: white;
  border: 1px solid $sky;
  position: relative;
  padding: 16px;
  animation: linear 0.2s forwards open ;
}

@keyframes open {
  from{
    transform: scale(0.01);
  }

  to{
    transform: scale(1);
  }
}

#new_appointment{
  z-index: 20;
  display: flex;
  gap:8px;

  div{
    padding:0!important;
    margin: 0!important;
  }
}

.desk_book{
 position: absolute;
 top:-20px;
 left:20px;
 background-color: $sky;
 color: white;
 font-size: 18px;
 font-weight: 600;
 padding:0 16px;
}

.bureau-level{
  min-width: 200px;
  background-color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  ul li{
    list-style: none;
    padding:8px;
    background-color: $sky;
    color: white;
    font-size: 18px;
  }
}

.bureau-information{
  z-index: -1;
  position: absolute;
  bottom:-40px;
  height: 40px;
  width: 100%;
  text-align: center;

  span{
    background-color:#ADFF00 ;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 8px 16px;
    height: 100%;

  }
}


.container-svg{
  position: relative;
  width: 100%;
}

svg{
  width:100%;
  height:auto;
}


.bureau-information-niveau{
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  left:-65px;
  top:50%;
  height:30px;
  z-index: -1;


  span{
    background-color: grey;
    color: white;
    font-size: 24px;
    padding:8px 16px;
  }
}

.calendar {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  // margin-top: 50px;
  // margin-bottom: 50px;
  justify-content: center;
  padding: 20px;
  width:100%;
  background-color: white;
}

.bg-sky {
  background-color: $sky;
}

.clickable {
  cursor: pointer;
}
