#index-content{
  position: relative;
  padding-top: 50px;

  &::before{
    position: absolute;
    content: "";
    width: 800px;
    height:800px;

    background: asset-url('bluehalo.png');
    background-size: contain;
    background-position: center;
    top:50px;
    right:0px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.search{
  width:35%;
  background-color: rgba(255,255,255,0.3)!important;
  // border: 2px solid $sky;
  padding: 16px 16px;
  margin-bottom: 100px;

  form{
    display: flex;
    height:40px;
    column-gap: 16px;
  }
}

.bureau{
  position: relative;
}

.bureau-modal{
  display: none;
  position: absolute;
  width:100%;
  height:100%;
  top:0%;
  left: 0%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  justify-content: center;
  align-items: center;
  border: 1px solid $sky;
  z-index: 10;
}

.modal-open {
  overflow: hidden;
}

.bureau-modal-container{
  background-color: white;
  border: 1px solid $sky;
  position: relative;
  padding: 16px;
  animation: linear 0.2s forwards open ;
}

@keyframes open {
  from{
    transform: scale(0.01);
  }

  to{
    transform: scale(1);
  }
}

#new_appointment{
  z-index: 20;
  display: flex;
  gap:8px;

  div{
    padding:0!important;
    margin: 0!important;
  }
}

.desk_book{
 position: absolute;
 top:-20px;
 left:20px;
 background-color: $sky;
 color: white;
 font-size: 18px;
 font-weight: 600;
 padding:0 16px;
}

.bureau-level{
  width: 250px;
    background-color: rgba(255,255,255,0.3)!important;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
 width:100%;
    height:100%;
    padding: 16px ;
  }

  ul li{
    display: flex;
    width:100%;
    height: 30px;

    list-style: none;
    gap:28px;
    margin: 8px 0;

      p{
        display: flex;
        align-items: center;
    padding:8px;
    margin: 0;
    color: white;
    font-size: 18px;
    background-color: $sky;
    text-align: center;
    box-shadow: -4px -2px 10px 4px rgba($color: #000000, $alpha: 0.3);
      }

  }
}

.etage-shape{
  height: 20px;
  width:60%;
  transform: skewX(-40deg);
  background-color: $sky;
  border: 1px solid white;
  box-shadow: -4px -2px 10px 4px rgba($color: #000000, $alpha: 0.3);

}

.bureau-information{
  z-index: -1;
  position: absolute;
  bottom:-40px;
  height: 40px;
  width: 100%;
  text-align: center;

  span{
    background-color:#ADFF00 ;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 8px 16px;
    height: 100%;

  }
}


.container-svg{
  position: relative;
  width: 70%;
  margin-bottom: 75px;
   background-color: rgba(255,255,255,0.3)!important;

}

svg{
  width:100%;
  height:auto;
  overflow: visible;
  z-index: 1000;
  position: relative;
}


.bureau-information-niveau{
  display: none;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  left:-65px;
  top:50%;
  height:30px;
  z-index: -1;


  span{
    background-color: grey;
    color: white;
    font-size: 24px;
    padding:8px 16px;
  }
}

.calendar {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  // margin-top: 50px;
  // margin-bottom: 50px;
  justify-content: center;
  padding: 20px;
  width:100%;
  background-color: white;
}

.bg-sky {
  background-color: $sky;
}

.bg-white-transparent{
  background-color: rgba(255,255,255,0.3);
}

.clickable {
  cursor: pointer;
}


.features-container{
  margin-top: 100px;
  display: flex;
  row-gap: 32px;
  justify-content: space-between;
   min-height:300px;
   margin-bottom: 100px;
}

.chatroom {
  &__container {
    position: relative;
    width: 250px;
    height: 500px;
  }

  &__subscription {
    padding: 16px;
    height: 100%;
    overflow-y: scroll;


    .btn-purple {
    --bs-btn-bg: rgb(168, 16, 161);
    --bs-btn-border-color: rgb(168, 16, 161);
    color: white;
    }
  }
}

.calendar-container{
  width:70%;
}


.container-halo{
  position: absolute;
  top:0;
  right:0;
  z-index: 1;
  width:100%;
  height:100%;
  overflow: hidden;

}

.toprightbluehalo{
  position: absolute;
  top:-400px;
  right:-200px;
  width: 800px;
  height:800px;
  background: asset-url('bluehalo.png');
  background-size: 800px 800px;
  background-repeat: no-repeat;

   filter: drop-shadow(0 -6mm 4mm rgb(255, 238, 89));
  z-index: -1;
  opacity: 1;

}
.pattern{
  position: absolute;
  top:-330px;
  right:0;
  width:60%;
  height: 50%;
  background: asset-url('pattern_deskharmony.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  transform: rotate(0deg);

  z-index: 2;
}

.svginsertion{
 position:absolute;
 width:100%;
 height:100%;


}

foreignObject{
  display: block;
  opacity: 1;
  z-index: 1000;
  position: relative;
  overflow: visible;


}

rect{
  position: relative;
  z-index: 100;
}

.menu-context{
  display: block;
  position: absolute;
  left:110%;
  width: 300px;
  background-color: $sky;
  border-radius: 16px;
   padding: 24px;
   border: 2px solid white;
   z-index: 1000;
}

.active{
  display: block;
}

.submenu{
  position: relative;
  padding:px;

  i{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px;
    cursor: pointer;
    }
}

.direct-book{
   position: relative;
   display: flex;
   justify-content: start;
   text-align: center;
   gap:16px;



   a{
    position: relative;
    display: block;
    padding: 8px;
    background-color: white;
    color: $sky;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid white;
   }
}
