body{
  background-color: $bg-main;


}

*{
  padding:0;
  margin:0;

}

.dis-none{
  display: none;
}

.flex{
  display: flex;
  justify-content: space-between;
  padding:0;
  column-gap: 16px;
}



.container{
  padding:0;
  position: relative;
  z-index: 2;
}

.b-rounded{
  border-radius: 8px;
}

.center{
  align-items: center;
  justify-content: center;
  height:100%;

  img{
    height:300px;
    width:300px;
  }
}

.neon-effect{
  border-radius: 16px;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0 0 10px 8px rgb(68,244,236);

}

.neon-effect-anim{
animation: appear 1s forwards;

filter: drop-shadow(0 -6mm 50px rgb(255, 255, 255));
opacity: 0.3;
}

@keyframes appear {
  to{
    opacity: 1;
    filter: drop-shadow(0 0 0 rgba(160, 0, 210,0));
  }
}

.space{
  margin: 8px 0;
}

.photo-profil{
    img {
      border-radius: 50%;
      margin-right: 20px;
      border:2px solid white;
      transition: all 0.3s;

      &:hover{
        border:5px solid $sky;
        transform: scale(1.2);
      }
    }


    font-size: 20px;
    padding-left: 10px;
    // padding-right: 20px;
  }



.purple{
  color: rgb(178, 67, 187);
}

.photo {
  margin-left: 50px;
}

.neon-effect-orange{
  box-shadow: 0 0 30px 8px rgb(255, 72, 0)!important;
}
