body{
  background-color: $bg-main;

}

*{
  padding:0;
  margin:0;
  cursor: url(app/assets/images/rocket.png), auto;
}

.dis-none{
  display: none;
}

.flex{
  display: flex;
  justify-content: space-between;
  padding:0;
  column-gap: 16px;
}



.container{
  padding:0;
  position: relative;
  z-index: 2;
}

.b-rounded{
  border-radius: 8px;
}

.center{
  align-items: center;
  justify-content: center;
  height:100%;

  img{
    height:300px;
    width:300px;
  }
}

.neon-effect{
  border-radius: 16px;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 0 10px 8px rgb(68,244,236);
}

.space{
  margin: 8px 0;
}

.photo-profil{
  & > img {
    border-radius: 50%;
  }
}


.purple{
  color: rgb(178, 67, 187);
}
